body {
  padding: 0 5px;

  .btn-primary {
    background-color:#6a81a9;
    border: #6a81a9;
  }
}

div.body {
  max-width: 1200px;
  margin: 0 auto;
}

/* User Login */
.login_box {
  background-color: #A2B6D7;
  color: #ffffff;
  margin-top: 25px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar */

nav.navbar > ul.navbar-nav > li.active > a,
nav.navbar > ul.navbar-nav > li.active > a:hover,
nav.navbar > ul.navbar-nav > li.active > a:focus {
  background-color: #6a81a9;
  color: #ffffff;
  font-weight: bold;
}

nav.navbar > ul.navbar-nav > li > a {
  background-color: #e9ecf1;
  color: #6a81a9;
}

nav.navbar > ul.navbar > div {
  background-color: #e9ecf1;
  color: #6a81a9;
}

/* Table Styles */

table {
  overflow: hidden;
  border-radius: 4px;
  thead {
    background-color: #bdc6d7;
  }
}

.table-manual-striped > tbody > tr.odd-row,
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-manual-striped > tbody > tr.even-row,
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #e9ecf1;
}


.order_table {
  margin: 10px 0;
}


/* Category Nav styling */

#category_nav.nav-pills > li.active > a,
#category_nav.nav-pills > li.active > a:hover,
#category_nav.nav-pills > li.active > a:focus {
  background-color: #6a81a9;
  border: #6a81a9;
}


/* Mobile Styles */

@media screen and (max-width: 767px) {
  .order-status-filter {
    margin: 10px 0 0;
  }
}
